<% if logged_in? %>
	<%= link_to 'Acceder a la page secrete..', secret_path, class: 'btn btn-lg btn-primary' %>
<% else%>
	<a href='/login' onclick="$test=1" class='btn btn-lg btn-primary'>Acceder a la page secrete..</a>
<% end %>