<h1><strong><u>Liste des utilisateurs</u></strong></h1>

<br/>

<table class='table'>
	<thead>
		<tr>
			<td><strong>Pseudo</strong></td>
			<td><strong>Email</strong></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.username %></td>
				<td><%= user.email %></td>
				<td>
					<a href='<%= user_path(user.id) %>' class='btn btn-primary'>En savoir plus</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br/>

<p>
	<a href='/signup' class='btn btn-success'>Créer un nouvel utilisateur</a>
</p>