<h1><strong><u>Liste des Users</u></strong></h1>

<br/>

<% @users.each do |user| %>
	<h3><strong>Pseudo : </strong><%= user.username %></h3>

	<h3><strong>Email : </strong><%= user.email %></h3>
	<p>
		<a href='<%= user_path(user.id) %>' class='btn btn-primary'>En savoir plus</a>
	</p>
<% end %>

<br/>

<p>
	<a href='<%= new_user_path %>' class='btn btn-success'>Créer un nouvel utilisateur</a>
</p>