<h1><strong>Pseudo : </strong><%= @user.username %></h1>

<h1><strong>Email : </strong><%= @user.email %></h1>

<br/>

<p>
	<a href='<%= users_path %>' class='btn btn-primary'>Revenir à la liste des Users</a>
	<a href='<%= edit_user_path %>' class='btn btn-warning'>Editer</a>
</p>